.calendar_month
{
	float: left;
	margin-top: 14%;
	width: 18%;
	margin-left: 50px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid #ccc;
	border-radius: 10px;
	position: fixed;
}

.calendar_month table
{
      margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 25px;
			table-layout: fixed;
}

.calendar_month table td,
.calendar_month table th
		{
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
			cursor: pointer;
    }

.calendar_month table th
	  {
      background-color: #4CAF50;
      color: white;
    }


.td_cl:hover
	{
		background-color: rgba(122,122,133, 0.3);
	}

	@media (max-width: 1570px)
	{
		.calendar_month table
		{
			font-size: 14px;
		}

	}
	@media (max-width: 1470px)
	{
		.calendar_month table
		{
			font-size: 10px;
		}

	}

@media (max-width: 1300px)
{
	.calendar_month
	{
		display: none;
	}
}
