* {
   margin: 0;
   box-sizing: border-box;
}

@font-face
{
	font-family: "Font1";
	src: url("../fonts/MultiroundPro.otf");
	font-family: "Font_hub";
	src: url("../fonts/MontserratAlternates-BoldItalic.ttf");

}


body
{
  background: url(../images/hubf.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

a.menu-link
{
    display: none;
}

.main-header
{
    background-color: rgba(22,34,57,0.95);
    height: 80px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo
{
    float: left;
    line-height: 80px;
    padding-left: 60px;
}

.main-header .logo a
{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}

.main-header .logo a em
{
    font-style: normal;
    color: #E0FF61;
    font-weight: bold;
}

.main-menu
 {
    float: right;
    padding-right: 60px;
}

.main-menu li
{
    display: inline-block;
    line-height: 79px;
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child
{
    margin-left: 0px;
}

.main-menu li a
{
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
    text-decoration: none;
}

.main-menu li
{
    font-size: 12px;
    font-weight: 500;
    padding: 0px 15px;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.5s;
}

.main-menu li:hover
 {
    color: #f5a425;
    border: none;
}

.main-nav li:hover a,
.main-nav li.active a
{
    border: 2px solid #BC254D;
}

@media (max-width: 950px)
{
  .main-nav li:hover a,
  .main-nav li.active a
  {
    border: 2px solid transparent;
    border-bottom: 1px solid rgba(250,250,250,0.25);
  }
}

.news
 {
  margin-top: 250px;
  margin-left: 22%;
  width: 58%;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.news-template
{
  margin-top: 20px;
  border-top: 1px solid #c2cccc;
  padding-top: 20px;

}

.news-template h3
{
  margin-bottom: 10px;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-style: italic;
}

.news-template p
 {
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  text-indent: 25px;
  text-align: justify;
}

.news-template a
{
    text-decoration: none;
}

.news-template small
{
  color: #999;
}

.courses-block
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  padding-top: 55px;
  padding-bottom: 55px;

}

.course
{
  width: 40%;
  padding: 10px;
  margin: 60px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  height: 550px;
  background: rgba(233,233,233, 1);
  border: 1px inset #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.course a
{
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.course h3
{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.course-block
{
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: justify;
  text-indent: 25px;
  border-bottom: 2px inset #000;
}

.course:hover
{
  cursor: pointer;
  background: rgba(230,230,220, 0.7);
}

.course_text_style
{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  text-align: justify;
}


.footer {
  background-color: #333333;
  color: #fff;
  padding: 50px 0;
}

.footer h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 60px;
}

.footer form {
  margin-top: 20px;
}

.footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
}


.footer button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.footer button[type="submit"]:hover {
  background-color: #0062cc;
  cursor: pointer;
}

@media (max-width: 1000px)
{
   .logo a
  {
      font-size: 16px;
  }
  .course
  {
    width: 100%;
  }
}
@media (max-width: 810px)
{
   .SCP
   {
     display: none;
   }
}

@media (max-width: 530px)
{
   .scp_a
   {
     display: none;
   }
}
