.calendar_month
{
	float: left;
	margin-top: 10%;
	width: 18%;
	margin-left: 50px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid #ccc;
	border-radius: 10px;
	position: fixed;
	box-shadow: 0 0 30px rgba(247,247,247,0.7);
}

.calendar_month_table
{
      margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 25px;
			table-layout: fixed;
			min-width: 100%;
}

.calendar_month_table td,
.calendar_month_table th
		{
      border: 1px solid #ddd;

      text-align: center;
			cursor: pointer;
			table-layout: fixed;
    }

.calendar_month_table th
	  {
      background-color: #4CAF50;
      color: white;
    }


.td_cl
{
	width: 40px;
	height: 40px;
}

.td_cl:hover
	{
		background-color: rgba(255,255,11, 0.3);
	}

.realtime
{
	  font-size: 16px;
	  font-weight: bold;
	  color: rgb(240,240,249);
	  padding: 10px;
	  border-radius: 5px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.realtime:hover
{
	 cursor: pointer;
}

.info_user
	{
	  margin-top: 9%;
	  margin-left: 27%;
		min-height: 200px;
		min-width: 250px;
	  font-family: monospace;
	  background-color: rgba(206,206,206,0.9);
	  padding: 20px;
	  width: 23%;
	  font-size: 20px;
	  border: 1px solid;
	  border-radius: 6px;
		float: left;
		text-align: justify;
		overflow-x: hidden;
  	flex-direction: column;
  	background-color: #f2f2f2;
  	padding: 20px;
  	border-radius: 10px;
  	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	}

.info_user a {
  color: #4CAF50;
  text-decoration: none;
}

.info_user a:hover {
  text-decoration: underline;
}

.today_style
{
	text-align: center;
	border: 2px solid;
	border-radius: 10px;
	border-color: #ccc;
	font-family: Comic Sans MS;
	font-size: 14px;
}

.d1
{
width: 10px;
height: 10px;
border-radius: 50%;
display: inline-block;
}



select
 {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
	text-align: center;
}

select option
{
  font-size: 16px;
  font-weight: bold;
	text-align: left;

}

select:hover
{
	cursor: pointer;
}

form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

form p
{
  margin: 10px 0;
}

form input[type="text"],
form textarea
{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

form input[type="submit"],
form input[type="button"]
{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

 form input[type="submit"]:hover,
 form input[type="button"]:hover
 {
  background-color: #3e8e41;
}

	@media (max-width: 1570px)
	{
		.calendar_month_table
		{
			font-size: 14px;
		}
		.info_user
		{
			width: 25%;
		}
	}
	@media (max-width: 1470px)
	{
		.calendar_month_table
		{
			font-size: 10px;
		}

	}

@media (max-width: 1300px)
{
	.calendar_month
	{
		display: none;
	}
	.info_user
	{
		width: 30%;
	}
}

@media (max-width: 1220px)
{
	form input[type="submit"],
	form input[type="button"]
	{
		overflow-x: hidden;
	}
	.realtime
	{
		display: none;
	}
}

@media (max-width: 800px)
{
	.logo
	{
		display: none;
	}
}

@media (max-width: 700px)
{
	.calendar7
	{
		overflow-x: scroll;
	}
}
